{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-8 col-md-8">
                            <!-- POST -->
                            <div class="post">
                                <form action="#" class="form newtopic" method="post">
                                    {% csrf_token %}
                                    <div class="topwrap">
                                        <div class="userinfo pull-left">
                                            <div class="avatar">
                                                <img src="{% static '/' %}/images/avatar4.jpg" alt="">
                                                <div class="status red">&nbsp;</div>
                                            </div>

                                        </div>
                                        <div class="posttext pull-left">

                                            <div>
                                                <input type="hidden" class="user_id" name="userid" value="{{ user.id }}">
                                                <input type="text" placeholder="Enter Topic Title" class="form-control title">
                                                <p class="text-danger titleerror" style="color: red">Please Enter Title</p>
                                            </div>


                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <select name="subcategory" id="subcategory" class="form-control cat">
                                                        <option value="0" disabled="" selected="">Select Category</option>
                                                        {% for cat in category %}
                                                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                                                        {% endfor %}

                                                    </select>
                                                    <p class="text-danger caterror" style="color: red">Please Select category</p>
                                                </div>
                                            </div>

                                            <div>
                                                <textarea name="desc" id="desc" placeholder="Description" class="form-control des"></textarea>
                                                <p class="text-danger deserror" style="color: red">Please Enter Description</p>
                                            </div>



                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="postinfobot">
                                        <div class="pull-right postreply">
                                            <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                                            <div class="pull-left"><button type="button" id="savebtn" class="btn btn-primary">Post</button></div>
                                            <div class="clearfix"></div>
                                        </div>


                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div><!-- POST -->

                            <div class="row similarposts">
                                <div class="col-lg-10"><i class="fa fa-info-circle"></i> <p>Similar Posts according to your <a href="#">Topic Title</a>.</p></div>
                                <div class="col-lg-2 loading"><i class="fa fa-spinner"></i></div>

                            </div>

                            <!-- POST -->
                            <div class="post">
                                <div class="wrap-ut pull-left">
                                    <div class="userinfo pull-left">
                                        <div class="avatar">
                                            <img src="{% static '/' %}/images/avatar.jpg" alt="">
                                            <div class="status green">&nbsp;</div>
                                        </div>

                                        <div class="icons">
                                            <img src="{% static '/' %}/images/icon1.jpg" alt=""><img src="{% static '/' %}/images/icon4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="posttext pull-left">
                                        <h2>10 Kids Unaware of Their Halloween Costume</h2>
                                        <p>It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="postinfo pull-left">
                                    <div class="comments">
                                        <div class="commentbg">
                                            560
                                            <div class="mark"></div>
                                        </div>

                                    </div>
                                    <div class="views"><i class="fa fa-eye"></i> 1,568</div>
                                    <div class="time"><i class="fa fa-clock-o"></i> 24 min</div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- POST -->



                        </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('.titleerror').hide();
            $('.caterror').hide();
            $('.deserror').hide();

            $('#savebtn').click(function () {
                 $title = $('.title').val();
                 $cat = $('.cat').val();
                $des = $('.des').val();
                $userid = $('.user_id').val();

                if ($title == "" && $cat == 0 && $des == ""){
                    $('.titleerror').show();
                    $('.caterror').show();
                    $('.deserror').show();
                }else if ($title == ""){
                    $('.titleerror').show();
                    $('.caterror').hide();
                    $('.deserror').hide();
                }else if ($cat == 0){
                    $('.titleerror').hide();
                    $('.caterror').show();
                    $('.deserror').hide();
                }else if ($des == ""){
                    $('.titleerror').hide();
                    $('.caterror').hide();
                    $('.deserror').show();
                }else {
                    $('.titleerror').hide();
                    $('.caterror').hide();
                    $('.deserror').hide();
                     $.ajax({
                        type: "POST",
                        url: "insert/user/post",
                        data:{
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            title: $title,
                            catdat: $cat,
                            des: $des,
                            userid :$userid

                        },
                        success: function(){
                            $('.title').val('');
                            $('.cat').val(0);
                            $('.des').val('');
                            alert('Save Data');
                        }
                    });
                }
            })


        })
    </script>
{% endblock %}